.dialogs {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-height: 50vh;
  overflow: auto;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.message {
  
}

.selfMessage {
  justify-self: start;
  max-width: 60%;
  background-color: #fffcf4;
  grid-column: 1/3;
  grid-column-start: 1;
}

.boxing {
  padding: 7px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 3px;
  word-break: break-word;
}

.notSelfMessage {
  justify-self: end;
  background-color: #ffeca8;
  grid-column: 1/3;
  grid-column-start: 2;
}
