.newMessage {
  width: 100%;
  height: 10vh;
  background-color: #fff1bf;
  grid-column: 1/3;
  border-top: 2px solid black;
}

.input {
  display: block;
  margin: 0 auto;
  margin-top: 3px;
  width: 90%;
}
